// Default texts and headings styles

// Headings
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
  margin: 1.25rem 0 .5rem;
}

h1,
h3,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: inherit;
  margin: 0;
}
h2 {
  font-size: 1.95rem;
  letter-spacing: -0.01em;
}
h3 {
  font-size: 1.56rem;
  letter-spacing: -0.01em;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: .8rem;
}

// Paragraph
p {
  margin: 0 0 .5rem;
}

/* Small text */
small {
  font-size: .8rem;
  letter-spacing: 0.05em;
  line-height: 1.18;
}

/* Monospace text */
code,
samp,
kbd,
var,
.texto-code {
  font-family: 'Fira Code', monospace;
}

/* Custom class text */
.text-bold {
  color: inherit;
  font-size: inherit;
  font-weight: 700;
}