<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Información personal básica -->
  <title>Betzabeth Linares | CV | Próximamente</title>
  <meta name="description" content="CV de Betzabeth Linares | Ingeniero de Computación | Especialista en el desarrollo Front end"/>
  <meta name="keywords" content="Betzabeth Linares, Desarrolladora Front end, Ingeniero de Computación, HTML, CSS, JavaScript, SASS, NodeJS, Vue"/>
  <meta name="author" content="Betzabeth Linares" />
  <meta name="copyright" content="Betzabeth Linares" />

  <!-- Define tema -->
  <meta name="theme-color" content="#23262C">
  <!--
    The page supports both dark and light color schemes,
    and the page author prefers dark. Example for both: content="dark light"
  -->
  <meta name="color-scheme" content="dark" />

  <!-- Iconos -->
  <link rel="icon" type="image/x-icon" href="<%= BASE_URL %>favicon.ico">
  <link rel="shortcut icon" type="image/x-icon" href="<%= BASE_URL %>favicon-144x144.ico">

  <!-- Para indexación y recorrido de enlaces internos -->
  <meta name="robots" content="index,follow" />

  <!-- Enlace principal -->
  <link rel="canonical" href="http://example.com/" />

  <!-- Actualización -->
  <meta name="updated" content="<%= new Date() %>">

  <!-- Estilos -->
  <link rel="stylesheet" href="estilos-proximamente.css">
</head>
<body>

</body>
</html>